/* toppage */
.start{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
    font-size: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 70%;
    color: yellow;
    text-shadow: 1px 2px 3px red
}
/* toppage end */

#peanuts{
    width: 100%;
    height: 70%;
    padding: 10px 10px;
  
}

.image-containar{
    width: 100%;
   
}

.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}

.peanutsimg{
    width: 500px;
    height: 300px;
 
}

.image-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    margin: 20px 20px;

}

.saying-container p{
    font-size: large;
    line-height: 1.2;
}

footer{
    text-align: center;
}