/* toppage */
.start{
	background-color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;

}
.start p {
	position: fixed;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
 
}

.mcd{
    height: 500px;
    width: 500px
    
}

/* toppage end */


#peanuts{
    width: 100%;
    height: 70%;
    padding: 10px 10px;
  
}

.image-containar{
    width: 100%;
   
}

.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
    font-family: 'Reggae One', cursive;
}

.peanutsimg{
    width: 500px;
    height: 400px;
 
}

.image-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;


}

.saying-container{
    margin: 40px 40px;
}

.saying-container p{
    width: 500px;
    font-size: large;
    line-height: 1.5;
    margin-top: 10px;
    font-family: 'Reggae One', cursive;
}

footer{
    text-align: center;
    font-family: 'Reggae One', cursive;
}

.loading {
    padding: 0;
    margin: 0;
    display: fixed
}

.loading img {
    display: inline-block;
    height: 300px;
    width: 300px;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}