.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 10px 0; 
}

.icon-ice,
.icon-utensils,
.icon-burger{
    font-size: 30px;
}

.icon-ice{
    margin-left: 50px;
    color: pink;
    cursor: pointer;
}

.icon-utensils{
    margin-right: 20px;
    color: rgb(192, 187, 187);
    cursor: pointer;
}

.icon-burger{
    margin-right: 50px;
    color: rgb(250, 166, 57);
}

.target-donald.hide{
    transform: translateX(130px);
    /* transform: translateX(100vw); */
}

.header-right{
    /* display: flex;
    align-items: center; */
    position: relative;
    /* justify-content: space-between; */
}

.target-donald{
    transform: translateX(0px);
    transition: all 1s ease;
    position: absolute;
    top: -90%;
    left: 30%;
}

.target-mc.hide{
    transform: translateY(80px);
    /* transform: translateX(100vw); */
}

.header-left{
    position: relative;
}

.target-mc{
    height: 200px;
    transform: translateY(-30px);
    transition: all 1s ease;
    position: absolute;
    top: 0%;
    left: 700%;
}



.mc{
    height: 100px;
}

.mc-btn{
    cursor: pointer;
    /* text-align: center; */
    /* margin-top: 10px; */
    position: relative;
    width: 112px;
    /* margin: 0 auto; */
}

.clickme{
    height: 40px;
    /* margin-top: 10px; */
    position: absolute;
    top: 5%;
    left: 80%;
}

/*slick setting*/
.slide{
    width: 100%;
    /* margin: 0 auto; */
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
}

.slide{
    position: relative;
}

.advice-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.advice{
    width: 60%;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.233); */
    font-size: 50px;
    line-height: 1.5em;
    font-family: 'Sigmar One', cursive;
    color: aliceblue;
    text-shadow: 1px 1px black;
}

.slider li{
    text-align: center;
}

.slider img{
    height: 450px;
    width: auto;
}

.slick-prev:before,
.slick-next:before {
    color: whitesmoke;
}

.slick-dots li
button:before{
    color: black;
}

.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
} 